@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
  }

  .background-container {
    width: 1280px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .page-header {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: -10px;
    z-index: 1;
  }

  .navigation {
    display: flex;
    padding: 0 70px;
  }

  .logo {
    margin-right: 30px;
  }

  .navigation-menu {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .navigation-menu-user {
    align-items: center;
    justify-content: end;
    max-width: 300px;
    margin-left: auto;
    margin-bottom: 10px;
  }

  .navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .navigation-link {
    position: relative;
    display: block;
    padding: 20px 17px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }

  .navigation-link-current::before {
    position: absolute;
    right: 17px;
    bottom: 0;
    left: 17px;
    height: 2px;
    background-color: #000000;
    content: "";
  }

  .navigation-link:hover:not(.navigation-link-current) {
    color: #756257;
  }

  .navigation-link:active:not(.navigation-link-current) {
    color: #756257;
    opacity: 0.3;
  }

  .favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: PT Sans;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    position: absolute;
    min-width: 20px;
    min-height: 20px;
    background: #7DB54F;
    border-radius: 10px;
    top: 5px;
    left: 25px;
  }

  .navigation-menu-user .navigation-link {
    width: 42px;
    min-height: 42px;
    padding: 0;
  }

  .button {
    font-family: PT Sans;
    display: inline-block;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }

  .button-header {
    /* font-weight: 700; */
    margin-left: 20px;
    padding: 9px 35px;
    font-size: 16px;
    line-height: 20px;
    background: #756257;
    border-radius: 4px;
  }

  .button-header:hover {
    background-color: #615048;
  }

  .button-header:active {
    background-color: #615048;
    color: rgba(255, 255, 255, 0.3);
  }

  .button-header:focus {
    background: #615048;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
  }

  .main-container {
    flex-grow: 1;
    width: 1200px;
    margin: 0 auto;
  }

  .header-index {
    background-image: url("../images/Vector.svg"), url("../images/background/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position:  0 428px, top;
    text-align: center;
  }

  .picture-vector-text {
    padding-top: 51px;
    padding-bottom: 82px;
    margin-bottom: 61px;
  }

  .advantages-quote {
    margin-top: 0;
    margin-bottom: 31px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
  }

  .advantages-excerpt {
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
  }

  .advantages-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
  }

  .first-grid-container {
    grid-row: 1 / 3;
    grid-column: 1 / -1;
  }

  .advantages-wrapper {
    display: flex;
  }

  .second-grid-container {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
  }

  .advantages-items {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
  }

  .advantages-content {
    flex-grow: 1;
    text-align: center;
  }

  .advantages-item {
    flex-basis: 400px;
  }

  .advantages-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .advantages-title-nested {
    margin-bottom: 20px;
  }

  .advantages-number {
    color: #333333;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .advantages-description {
    color: #333333;
    margin-top: 0;
    margin-bottom: 0;
  }

  .advantages-content-color-dark {
    padding-bottom: 87px;
    padding-top: 97px;
    background: #83B3D3;
  }

  .advantages-unit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 97px;
    padding-bottom: 108px;
  }

  .advantages-content-color-dark p {
    color: #ffffff;
  }

  .advantages-content-color-dark .advantages-title {
    color: #ffffff;
  }

  .advantages-content-color-middle {
    background: rgba(131, 179, 211, 0.12);
  }

  .advantages-content-color-light {
    background: rgba(131, 179, 211, 0.2);
  }

  .advantages-content-souvenirs {
    padding-top: 184px;
    padding-bottom: 88px;
    background-image: url("../images/icon/icon-3.svg");
    background-repeat: no-repeat;
    background-position: top 85px center;
  }

  .advantages-content-house {
    padding-top: 184px;
    padding-bottom: 79px;
    background-image: url("../images/icon/icon-1.svg");
    background-repeat: no-repeat;
    background-position: top 87px center;
  }

  .advantages-content-food {
    padding-top: 184px;
    padding-bottom: 79px;
    background-image: url("../images/icon/icon-2.svg");
    background-repeat: no-repeat;
    background-position: top 89px center;
  }

  .hotel-search {
    padding-top: 91px;
    padding-bottom: 93px;
  }

  .hotel-search-title {
    margin-top: 0;
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }

  .description-hotel-search {
    margin-top: 0;
    margin-bottom: 56px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
  }

  .hotel-search-button {
    padding: 12px 150px;
    font-size: 20px;
    line-height: 36px;
    background: #756257;
    border-radius: 10px;
  }

  .hotel-search-button:hover {
    background-color: #615048;
  }

  .hotel-search-button:focus {
    background: #615048;
    outline: 3px solid #83B3D3;
    border-radius: 10px;
  }

  .hotel-search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #615048;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
  }

  .subscription  {
    padding: 94px 0;
    background-image: url("../images/background/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #83B3D3;
  }

  .subscription-no-bg {
    background: none;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 141px;
  }

  .subscription-no-bg h2 {
    color: #000000;
    margin-bottom: 46px;
  }

  .subscription-no-bg p {
    color: #333333;
  }

  .field {
    /* стили для обычного состояния */
    font-family: PT Sans;
    font-weight: 400;
    width: 554px;
    padding: 18px 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    background: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    border: none;
  }

  .field::placeholder {
    color: #000000;
    opacity: 0.6;
  }

  .field:hover {
    background: #E6E6E6;
  }

  .field:focus {
    background: #E6E6E6;
    outline: 3px solid #83B3D3;
  }

  .field:active {
    outline: none;
  }



  .field.error {
    /* стили для отображения ошибки  */
    background-color: #FFFFFF;
    border: 2px solid #FF5757;
  }

  .subscription-title {
    margin-top: 0;
    margin-bottom: 29px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .description-subscription {
    margin-top: 0;
    margin-bottom: 46px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
  }

  .subscription-form {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .subscription-button {
    padding: 18px 34px;
    font-size: 20px;
    line-height: 26px;
    background: #83B3D3;
    border-radius: 0px 10px 10px 0px;
  }

  .subscription-button:hover {
    background: #68A2CA;
  }

  .subscription-button:focus {
    background: #68A2CA;
    outline: 3px solid #756257;
  }

  .subscription-button:active {
    background: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
  }

  .footer-phone-item {
    padding: 15px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
  }

  .footer-phone-item:hover {
    color: #756257;
  }

  .footer-phone-item:focus {
    color: #756257;
    outline: 3px solid #83B3D3;
    border-radius: 10px;
  }

  .footer-phone-item:active {
    color:rgba(117, 98, 87, 0.3);
  }

  .footer-container {
    box-sizing: border-box;
    padding: 24px 60px;
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
  }

  .footer-phone {
    margin-left: 230px;
    max-width: 720px;
    text-align: center;
  }

  .footer-social {
    width: 130px;
  }

  .footer-social-link {
    position: relative;
    display: block;
    height: 34px;
    width: 34px;
    color: #83B3D3;
  }

  .social-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .footer-social-link:hover {
    color: #68A2CA;
  }

  .footer-social-link:focus {
    color: #68A2CA;
    outline: 3px solid #83B3D3;
    border-radius: 10px;
  }

  .footer-social-link:active {
    color: rgba(104, 162, 202, 0.3);
  }

  .footer-social-list {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 2px;
    list-style-type: none;
  }

  .logo-htmlacademy {
    display: flex;
    justify-content: center;
    width: 140px;
    margin-left: auto;
  }

  .logo-htmlacademy-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 154px;
    height: 70px;
    color: #000000;
  }

  .logo-htmlacademy-item:hover {
    color: #756257;
  }

  .logo-htmlacademy-item:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
    color: #756257;
  }

  .logo-htmlacademy-item:active {
    color: rgba(117, 98, 87, 0.3);
  }

  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.8);
    z-index: 2;
    display: none;
  }

  .modal-container.active {
    display: flex;
  }

  .modal {
    position: relative;
    margin: auto;
    padding: 62px 70px;
    background-color: #ffffff;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
  }

  .modal-auth {
    width: 575px;
  }

  .modal-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    position: absolute;
    padding: 0;
    top: 54px;
    right: 70px;
    background-color: #F2F2F2;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  .modal-close-button:hover {
    background: #E6E6E6;
  }

  .modal-close-button:focus{
    background: #E6E6E6;
    outline: 3px solid #83B3D3;
  }

  .modal-close-button:active{
    background: #E6E6E6;
    color: rgba(0, 0, 0, 0.3);
  }

  .modal-title {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    font-family: PT Sans;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
  }

  .modal-wrapper {
    display: flex;
    flex-direction: column;
  }

  .date-information-field {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 40px;
  }

  .modal-grid-content {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .modal-input {
    max-width: 420px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding-left: 19px;
    padding-right: 45px;
    font-family: PT Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #000000;
    border: none;
    background-color: #F2F2F2;
    border-radius: 4px;
    background-image: url("../images/date.svg");
    background-repeat: no-repeat;
    background-position: right 19px center;
    appearance: none;
  }

  .modal-input:hover {
    background-color: #E6E6E6;
    color: rgba(0, 0, 0, 0.6);
  }

  .modal-input:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
    color: rgba(0, 0, 0, 0.6);
  }

  .modal-input:active {
    background-color: #FFFFFF;
    outline: 2px solid #000000;
  }

  .message {
    position: absolute;
    top: 42px;
    left: 155px;
    font-size: 16px;
    line-height: 40px;
    color: #333333;
    display: none;
  }

  .error {
    color: #FF5757;
  }

  .message-error {

    display: flex;
  }

  .message-valid {
    display: flex;
  }

  .modal-button-switch {
    display: flex;
    width: 133px;
  }

  .plus-minus {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    z-index: 1;
  }

  .minus {
    border-radius: 4px 0px 0px 4px;
  }

  .plus {
    border-radius: 0px 4px 4px 0px;
  }

  .plus-minus:hover {
    color: #000000;
  }

  .plus-minus:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
  }

  .plus-minus:active {
    color: rgba(0, 0, 0, 0.2);
  }

  .field-number::-webkit-outer-spin-button,
  .field-number::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  .field-number {
    width: 32px;
    height: 48px;
    text-align: center;
    font-family: PT Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #000000;
    background: #F2F2F2;
    border: none;
  }

  .modal-flex {
    display: flex;
  }

  .modal-information {
    display: flex;
    align-items: center;
    margin-left: 56px;
    margin-right: 18px;
  }

  .tooltip {
    position: relative;
  }

  .modal-symbol {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: #ffffff;
    border: none;
    background: #83B3D3;
    border-radius: 50%;
  }

  .tooltip-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 32px;
    left: -106px;
    display: none;
  }

  .tooltip-triangle {
    display: block;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #333333;
  }

  .tooltip-text {
    display: block;
    width: 216px;
    padding: 15px 18px 18px 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #333333;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  .modal-symbol:hover + .tooltip-box,
  .modal-symbol:focus + .tooltip-box {
    display: block;
  }

  .modal-symbol:hover {
    background: #68A2CA;
  }

  .modal-button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #83B3D3;
    border-radius: 10px;
    font-family: PT Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
  }

  .modal-button:hover {
    background: #68A2CA;
  }

  .modal-button:focus {
    background: #68A2CA;
    outline: 3px solid #756257;
  }

  .modal-button:active {
    background: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
  }

  .main-inner {
    color: black;
  }

  .inner-header {
    margin-bottom: 44px;
    padding: 35px 71px 83px;
    display: flex;
    flex-direction: column;
    background-image: url("../images/background/catalog-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #83B3D3;
    color:#ffffff;
  }

  .inner-header-title {
    margin-top: 0;
    padding: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
  }

  .breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: -10px;
    margin-left: 2px;
    list-style-type: none;
  }

  .breadcrumbs-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-right: 26px;
    position: relative;
  }

  .breadcrumbs-item:last-child {
    margin-right: 0;
  }

  .breadcrumbs-item:not(:last-child)::after {
    content: "";
    width: 5px;
    height: 8px;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: -15px;
    top: 8px;
  }

  .breadcrumbs-link {
    color: #FFFFFF;
  }

  .breadcrumbs-link:hover:not(.breadcrumbs-link-current) {
    color: rgba(255, 255, 255, 0.6);
  }

  .breadcrumbs-link:focus:not(.breadcrumbs-link-current) {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
  }

  .breadcrumbs-link:active:not(.breadcrumbs-link-current) {
    color: rgba(255, 255, 255, 0.3);
  }

  .catalog-filter {
    display: flex;
    padding-top: 45px;
  }

  .catalog-filter-group {
    margin: 0;
    padding: 0;
    border: none;
  }

  .catalog-filter-group-container {
    margin-left: 66px;
  }

  .button-container {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 81px;
    margin-top: 5px;
  }

  .catalog-filter-title {
    margin-left: -2px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  .catalog-filter-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .catalog-filter-item:not(:last-child) {
    margin-bottom: 13px;
  }

  .button-submit {
    font-family: 'PT Sans';
    padding: 13px 34px;
    font-size: 16px;
    line-height: 21px;
    background: #83B3D3;
    border-radius: 4px;
    margin-top: 56px;
    margin-bottom: 20px;
  }

  .button-submit:hover {
    background: #68A2CA;
  }

  .button-submit:focus {
    background: #68A2CA;
    outline: 3px solid #FFFFFF;
    border-radius: 4px;
  }

  .button-submit:active {
    background: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
  }

  .catalog-filter-group-box {
    margin-left: 168px;
  }

  .control-label {
    font-weight: 400;
    line-height: 23px;
    list-style-type: none;
  }

  .control {
    position: relative;
    display: block;
    padding-left: 39px;
  }

  .control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 4px;
  }

  .control-input:focus + .control-mark {
    background: rgba(255, 255, 255, 0.6);
    outline: 3px solid #83B3D3;
    border-radius: 4px;
  }

  .control:hover .control-mark {
    background: rgba(255, 255, 255, 0.6);
  }

  .control:active .control-mark {
    background: rgba(255, 255, 255, 0.3);
  }

  .control-input:checked + .control-mark::before {
    position: absolute;
    top: 5px;
    left: 4px;
    width: 13px;
    height: 10px;
    background-image: url("../images/check.svg");
    content: "";
  }

  .range {
    width: 288px;
  }

  .range-wrapper-inputs {
    display: flex;
    margin-top: 5px;
    margin-bottom: 28px;
    border-radius: 4px;
  }

 .catalog-filter-label {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .range-input {
    width: 100%;
    padding: 12px 45px 9px 18px;
    box-sizing: border-box;
    font-family: PT Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: transparent;
    border: none
  }

  .range-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    opacity: 0.3;
    position: absolute;
    top: 12px;
    right: 12px;
    display: inline-block;
    width: 25px;
    z-index: 1;
  }

  .range-input::-webkit-outer-spin-button,
  .range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  .range-input-right {
    margin-left: -2px;
    border: 2px solid #FFFFFF;
    border-radius: 0px 4px 4px 0px;
  }

  .range-input-left {
    border: 2px solid #FFFFFF;
    border-radius: 4px 0px 0px 4px;
  }

  .range-input-right:hover,
  .range-input-left:hover {
   border-color: rgba(255, 255, 255, 0.6);
  }

  .range-input-right:focus,
  .range-input-left:focus {
    box-shadow: 0px 0px 0px 3px #81B3D2;
  }

  .range-input-right:active,
  .range-input-left:active {
    background: #756257;
  }

  .range-scale {
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .range-bar {
    position: absolute;
    height: 4px;
    background-color: #FFFFFF;
  }

  .range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .range-toggle:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .range-toggle:focus {
    outline: 3px solid #83B3D3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .range-toggle:active {
    outline: 2px solid #83B3D3;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  }

  .toggle-min {
    top: -8px;
  }

  .toggle-max {
    top: -8px;
    right: -10px;
  }

  .control-input[type="radio"] + .control-mark {
    border-radius: 50%;
  }

  .control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #3F5E72;
    border-radius: 50%;
    content: "";
  }

  .button-reset {
    font-family: PT Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    border: none;
    background: none;
    text-transform: none;
    text-align: center;
  }

  .button-reset:hover {
    color: #FFFFFF;
    opacity: 0.6;

  }

  .button-reset:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
  }

  .button-reset:active {
    color: #FFFFFF;
    opacity: 0.3;
  }

  .sorting {
    display: flex;
    padding: 0 71px;
    margin-bottom: 53px;
  }

  select {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .select-control {
    width: 287px;
    height: 48px;
    box-sizing: border-box;
    margin-left: 192px;
    padding-left: 16px;
    padding-right: 48px;
    font-family: 'PT Sans';
    line-height: 23px;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    background-image: url("../images/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 21px center;
    appearance: none;
  }

  .select-control:hover,
  .select-control:focus {
    border: 2px solid #83B3D3;
  }

  .select-control:active {
    color: #333333;
    opacity: 0.3;
  }

  .sorting-title {
    display: flex;
    align-items: center;
    margin-top: -4px;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
  }

  .sorting-button {
    width: 160px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    margin-left: auto;
  }

  .sorting-view{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
  }

  .sorting-view:hover:not(.sorting-view-current), :focus:not(.sorting-view-current) {
    border-color: #83B3D3;
  }

  .sorting-view-current {
    border-color: #000000;
  }

  .catalog {
    padding-left: 71px;
    padding-right: 71px;
  }

  .catalog-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 340px 340px 340px;
    row-gap: 12px;
    column-gap: 18px;
    margin-bottom: 34px;
    list-style-type: none;
  }

  .catalog-item {
    padding: 20px;
  }

  .catalog-item-image, .catalog-item-image > img {
    display: block;
  }

  .catalog-item-image:hover {
    opacity: 0.6;
  }

  .catalog-item-image:focus {
    outline: 3px solid #83B3D3;
  }

  .catalog-item-image:active {
    opacity: 0.3;
  }

  .catalog-item-title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
  }

  .catalog-item-information {
    margin: 0;
    font-weight: 400;
    line-height: 23px;
    color: #333333;
  }


  .background-button-catalog {
    margin: 0;
    padding-top: 9px;
    padding-bottom: 6px;
    font-size: 16px;
    border-radius: 4px;
    align-self: stretch;
  }

  .catalog-item-link {
    background: #756257;
  }

  .catalog-item-link:focus {
    background: #615048;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
  }

  .catalog-item-link:hover {
    background: #615048;
  }

  .catalog-item-link:active {
    background: #615048;
    color: rgba(255, 255, 255, 0.3);
  }

  .catalog-item-button {
    background: #83B3D3;
  }

  .catalog-item-button:hover {
    background: #68A2CA;
    outline: 1px solid #756257;
    border-radius: 4px;
  }

  .catalog-item-button:focus {
    background: #68A2CA;
    outline: 3px solid #756257;
    border-radius: 4px;
  }

  .catalog-item-button:active {
    background: #68A2CA;
    outline: 1px solid #756257;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.3);
  }

  .catalog-item-button-active {
    background: #7DB54F;
  }

  .catalog-item-button-active:hover {
    background: #6C9E42;
  }

  .catalog-item-button-active:focus {
    background: #6C9E42;
    outline: 3px solid #756257;
    border-radius: 4px;
  }

  .catalog-item-button-active:active {
    background: #6C9E42;
    color: rgba(255, 255, 255, 0.3);
  }

  .star {
    align-self: center;
    height: 17px;
    background-image: url("../images/stars.svg");
  }

  .star-4 {
    width: 72px;
  }

  .star-3 {
    width: 54px;
  }

  .star-2 {
    width: 36px;
  }

  .rank {
    justify-self: stretch;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background: #F2F2F2;
    text-transform: uppercase;
  }

  .grid-container-catalog {
    display: grid;
    grid-template-columns: 133px auto;
    row-gap: 16px;
    column-gap: 26px;
  }

  .catalog-item-rank {
    padding-top: 16px;
    display: grid;
    grid-template-columns: auto 160px;
  }

  .wrapper-pagination {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
  }

  .pagination-show-more {
    padding: 17px 238px;
    font-size: 20px;
    line-height: 26px;
    background: #83B3D3;
    border-radius: 4px;
  }

  .pagination-show-more:hover {
    background: #68A2CA;
  }

  .pagination-show-more:focus {
    background: #68A2CA;
    outline: 3px solid #756257;
    border-radius: 4px;
  }

  .pagination-show-more:active {
    background: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
  }

  .pagination-box{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 28px;
  }

  .pagination {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .pagination-item {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .pagination-item:not(:last-child) {
    margin-right: 8px;
  }

  .pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 26px;
    width: 55px;
    height: 55px;
    background: #83B3D3;
    border-radius: 4px;
  }

  .pagination-link:hover:not(.pagination-current) {
    background-color: #68A2CA;
  }

  .pagination-link:focus:not(.pagination-current) {
    outline: 3px solid #756257;
    border-radius: 4px;
    background-color: #68A2CA;
  }

  .pagination-link:active:not(.pagination-current) {
    background: #68A2CA;
    color: rgba(255, 255, 255, 0.3)
  }

  .pagination-current {
    background: #F2F2F2;
    border-radius: 4px;
    color: #000000;
    cursor: default;
  }

  .text-number-results {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    margin-right: 54px;
  }

  .select-number-results {
    height: 48px;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    width: 160px;
    padding: 8px 14px;
    padding-right: 48px;
    font: inherit;
    font-weight: 400;
    background-image: url("../images/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 21px center;
    appearance: none;
  }

  .select-number-results:hover,
  .select-number-results:focus {
    border: 2px solid #83B3D3;
  }

  .select-number-results:active {
    color: #333333;
    opacity: 0.3;
  }

  .text-number-results-box {
    display: flex;
    margin-left: auto;
    align-items: center;
}

